---
# Only the main Sass file needs front matter (the dashes are enough)
---

$twitter-color: white !default;
$github-color: white !default;
$linkedin-color: white !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
